<header>
        <img alt="Application d'une Librairie" class="round" src="/images/librairie1.png" />

        <nav class="round">
          <ul>
            <li><%= link_to "Accueil", '/' %></li>
            <li><%= link_to "Chapitres", '/chapitres' %></li>
	    <li><%= link_to "Personnes", '/personnes' %></li>
	    <li><%= link_to "Scenes", '/scenes' %></li>
	    <li><%= link_to "Annecdotes", '/anecdotes' %></li>
	    <li><%= link_to "Aide", '#' %></li>
          </ul>
        </nav>
</header>
